

<div *ngFor="let employee of employees">
  <div>{{ employee.username }}</div>
  <div>{{ employee.password }}</div> 
  <div>{{ employee.firstName }}</div> 
  <div>{{ employee.surname }}</div> 
  <div>{{ employee.jobTitle }}</div> 
  <div>{{ employee.isAdmin }}</div> 
  <a [routerLink]="['/admin-dashboard/update-employee', employee.id]">Update</a>
  <a [routerLink]="['/admin-dashboard/delete-employee', employee.id]">Delete</a>
  <a [routerLink]="['/admin-dashboard/view-employees/create-employee-review', employee.id]">Create Employee Review</a>
  <a [routerLink]="['/admin-dashboard/view-employee-reviews', employee.id]">View Employee Reviews</a>
  <br>
</div>
