<input [(ngModel)]="createEmployeeReviewDto.objectives" type="text" class="form-control" placeholder="objectives" required autofocus>
<input [(ngModel)]="createEmployeeReviewDto.overallPerformance" type="text" class="form-control" placeholder="overallPerformance" required>
<input [(ngModel)]="createEmployeeReviewDto.technicalPerformance" type="text" class="form-control" placeholder="technicalPerformance" required>
<input [(ngModel)]="createEmployeeReviewDto.deliveringResults" type="text" class="form-control" placeholder="deliveringResults" required>
<input [(ngModel)]="createEmployeeReviewDto.communications" type="text" class="form-control" placeholder="communications" required>
<input [(ngModel)]="createEmployeeReviewDto.leadership" type="text" class="form-control" placeholder="leadership" required>
<input [(ngModel)]="createEmployeeReviewDto.aspirations" type="text" class="form-control" placeholder="aspirations" required>
<button (click)="createEmployeeReview()">Create</button>