
<div class="container">
    <div class="row">
        <div class="col-sm-4">
        </div>
        <div class="col-sm-4">
            <div class="login">
                <div class="account-wall">
                    <img class="profile-img" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" alt="">
                    <div class="form-signin">
                        <input [(ngModel)]="authenticateRequestDto.username" type="text" class="form-control" placeholder="Username" required autofocus>
                        <input [(ngModel)]="authenticateRequestDto.password" type="password" class="form-control" placeholder="Password" required>
                        <button (click)="authenticate(authenticateRequestDto)" (keyup.enter)="authenticate(authenticateRequestDto)" class="btn btn-lg btn-purple btn-block">
                            Sign in
                        </button>
                    </div>
                </div>
            </div>
      </div>
      <div class="col-sm-4">
      </div>
    </div>
  </div>